.map-buttons-top-left {
    position: absolute;
    top: 3rem;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 500;
}

.map-home-reset-view-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #164fa4;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.map-home-reset-view-button svg {
    width: 1.5rem;
    height: 1.5rem;
}

.map-home-reset-view-button:hover {
    background-color: #0d2d5e;
}

.map-home-reset-view-button:active {
    background-color: #f3ffa3;
    transform: scale(0.85);
}

@media (max-width: 600px) {
    .map-home-reset-view-button {
        width: 3rem;
        padding: 8px;
    }

    .map-container {
        height: 80vh;
    }
}