h1.map-home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    gap: 10px;
}

.map-home-reset-view-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #4285f4;
    width: 4rem;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.map-home-reset-view-button:hover {
    background-color: #0d2d5e;
}

.map-home-reset-view-button:active {
    background-color: #f3ffa3;
    transform: scale(0.85);
}

.map-home-title-btn-row {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    padding: 0;
    width: auto;
    color: inherit;
    border-radius: 0;
}


/* ----------------------------------------------- MOBILE */
@media (max-width: 600px) {
    h1.map-home-title {
        font-size: 1rem;
    }
}