* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.map-container,
.spinner-live {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    /* Ensure children can be absolutely positioned inside */
}

.spinner-live {
    width: 50px;
    height: auto;
}

.custom-marker-icon-visited,
.custom-marker-icon-planned,
.custom-marker-icon-clicked,
.custom-marker-icon-searched {
    display: inline-block;
    font-size: 1.7rem;
    transition: ease-out 0.2s;
}

.custom-marker-icon-visited {
    color: #004593;
}

.custom-marker-icon-planned {
    color: #ff0084;
}

.custom-marker-icon-clicked {
    color: #ff0a0a;
}

.custom-marker-icon-searched {
    color: #008844;
}


.custom-marker-icon-visited:hover,
.custom-marker-icon-planned:hover,
.custom-marker-icon-clicked:hover,
.custom-marker-icon-searched:hover {
    transform: scale(1.4);
    cursor: pointer;
}

/* Styles for smaller screens ------------------------------------------------------- MOBILE */
@media (max-width: 600px) {

    .map-container {
        height: 80vh;
    }



}