* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    outline: none;
}

.spinner-live {
    width: 50px;
    height: auto;
}

.custom-marker-icon-visited,
.custom-marker-icon-planned,
.custom-marker-icon-clicked,
.custom-marker-icon-searched,
.custom-marker-icon-highlighted {
    display: inline-block;
    font-size: 1.7rem;
    transition: ease-out 0.2s;
}

.custom-marker-icon-visited {
    color: #004593;
}

.custom-marker-icon-planned {
    color: #ff0084;
}

.custom-marker-icon-clicked {
    color: #ff0a0a;
}

.custom-marker-icon-searched {
    color: #008844;
}

.custom-marker-icon-highlighted {
    animation: heartbeat 1s infinite alternate;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
        color: #ff00cc;
    }

    25% {
        transform: scale(1.1);
        color: #ff6600;
    }

    50% {
        transform: scale(1.2);
        color: #FF0000;
    }

    75% {
        transform: scale(1.1);
        color: #ff6600;
    }

    100% {
        transform: scale(1);
        color: #ff00cc;
    }
}


.custom-marker-icon-visited:hover,
.custom-marker-icon-planned:hover,
.custom-marker-icon-clicked:hover,
.custom-marker-icon-searched:hover,
.custom-marker-icon-highlighted:hover {
    transform: scale(1.4);
    cursor: pointer;
}

/* Styles for smaller screens ------------------------------------------------------- MOBILE */
@media (max-width: 600px) {

    .map-container {
        height: 80vh;
    }



}