.pop-up-container {
    padding: 1rem;
    text-align: center;
    width: 15rem;
}



.pop-up-container img.place-image {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    display: none;
    margin: 0 auto;
    object-fit: cover;
}

.pop-up-container img:hover {
    cursor: pointer;
    transition: ease-out 0.3s;
    transform: scale(1.05);
    box-shadow: 0 0 0px 1.5px rgba(126, 255, 167, 0.8);
}

.pop-up-container img.place-image.loaded {
    display: block;

}




.spinner-popup {
    animation: spin 1s linear infinite;
    width: 5rem;
    height: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h2.place-name {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.copy-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: #0056b3;
}

.copy-button.copied {
    background-color: #008674;
}


.custom-marker-icon {
    display: inline-block;
    font-size: 1.7rem;
    transition: ease-out 0.2s;
}

.custom-marker-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@media (max-width: 600px) {

    .pop-up-container img.place-image {
        width: 100%;
        height: auto;
        max-height: 200px;
    }
}